#searchUserResult button:focus {
    outline: none !important;
}

#loader {
    display: none;
    background-color: #00000026;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    align-items: center;
}

#loader > .spinner-border {
    width: 4rem;
    height: 4rem;
}

#navbarNotification #notificationCounter {
    position: absolute;
    padding: 2px;
    border-radius: 3px;
    font-size: 10px;
    text-align: center;
    height: 13px;
    line-height: 9px;
    background-color: red;
    color: white;
    font-weight: bold;
    left: 24px;
    top: 2px;
}

#navbarNotification {
    margin-right: 6px;
}

#navbarNotification.dropdown-toggle::after {
    display: none!important;
}

#listNotification {
    max-width: 330px;
    width: 330px;
}

#listNotification li {
    text-overflow: ellipsis;
    overflow: hidden;
}