<h3>
    Vos informations

    <a id="btPrepareEditInfos" class="btn btn-primary float-right" href="javascript:accountParamsController.prepareEditInfos();" role="button">
        Modifier <i class="ml-2 far fa-edit"></i>
    </a>
</h3>
<div class="alert alert-success d-none" role="alert" id="successEdit">
    Modifications réussit
</div>
<div class="form-row mt-4">
    <div class="form-group col-md-6">
        <label for="editName">Nom d'utilisateur</label>
        <input onkeyup="accountParamsController.checkIfValuesChanged()" type="text" class="form-control" id="editName" placeholder="Saisir le nom ..." readonly>
    </div>
    <div class="form-group col-md-6">
        <label for="editEmail">E-mail</label>
        <input onkeyup="accountParamsController.checkIfValuesChanged()" type="text" class="form-control" id="editEmail" placeholder="Saisir l'adresse e-mail ..." readonly>
    </div>
    <div class="form-group col-md-6">
        <label for="editPassword">Mot de passe</label>
        <input onkeyup="accountParamsController.checkIfValuesChanged()" type="password" class="form-control" id="editPassword" placeholder="Saisir le mot de passe ..." readonly>
    </div>
    <div class="form-group col-md-6">
        <label for="btSaveEdit">&nbsp;</label>
        <a class="btn btn-outline-primary form-control d-none" id="btSaveEdit" href="javascript:accountParamsController.saveChanges();" role="button">
            Enregistrer les modification
        </a>
    </div>
</div>