<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#adminPanel" role="tab" aria-controls="home" aria-selected="true">Panel Administrateur</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="subscriber-tab" data-toggle="tab" href="#subscriberList" role="tab" aria-controls="subscriber" aria-selected="false" onclick="adminController.getSubscriber()">Liste des abonnés</a>
    </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade show active" id="adminPanel" aria-labelledby="nav-home-tab">
        <div class="input-group mb-4 mt-2">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">@</span>
            </div>
            <input type="text" class="form-control"
                   placeholder="Rechercher une personne en saisissant son nom d'utilisateur ou adresse e-mail ..."
                   aria-label="Username" aria-describedby="basic-addon1"
                   onkeyup="adminController.searchUserForAdmin(this.value)">
        </div>

        <table class="table table-hover d-none" id="allUsers">
            <thead>
                <tr>
                    <th scope="col">Nom de l'utilisateur</th>
                    <th scope="col">Adresse e-mail</th>
                    <th scope="col">Est administrateur</th>
                    <th scope="col" style="width: 266px; min-width: 266px;"></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

        <h4 class="d-none" id="noUsers">Aucun utilisateur a afficher</h4>

        <!-- Modal change email -->
        <div class="modal fade text-body" tabindex="-1" role="dialog" id="changeEmail">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Changement d'adresse e-mail</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Saisir le nouvel adresse e-mail de l'utilisateur :
                        <div class="form-group mt-2">
                            <input type="text" class="form-control" id="newEmail" placeholder="Adresse e-mail ...">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" onclick="adminController.changeEmail()">Modifier</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal write notification -->
        <div class="modal fade text-body" tabindex="-1" role="dialog" id="writeNotification">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Création d'une notification</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group mt-2">
                            <input type="text" class="form-control" id="notificationTitle" placeholder="Titre de la notification ...">
                        </div>

                        <div class="form-group mt-2">
                            <input type="text" class="form-control" id="notificationMessage" placeholder="Message de la notification ...">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" onclick="adminController.sendNotification()">Envoyer</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="tab-pane fade" id="subscriberList" aria-labelledby="nav-subscriber-tab">
        <table class="table table-hover d-none mt-4" id="allSubscriber">
            <thead>
                <tr>
                    <th scope="col">Nom de l'utilisateur</th>
                    <th scope="col">Adresse e-mail</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

        <h4 class="d-none mt-4" id="noSubscriber">Aucun abonné pour le moment</h4>
    </div>
</div>