<table class="table table-hover d-none" id="archListContainer">
    <thead>
    <tr>
        <th scope="col">Nom de la liste</th>
        <th scope="col">Date de création</th>
        <th scope="col" style="max-width: 150px">Nombre d'éléments dans la liste</th>
        <th scope="col" style="width: 110px; min-width: 100px;"></th>
    </tr>
    </thead>
    <tbody></tbody>
</table>

<h3 class="d-none" id="archListEmpty">Aucune liste archivée pour le moment 🙂</h3>