<h3 class="d-none" id="currentListEmpty">Aucune liste pour le moment, cliquez <a href="javascript:void(0);" onclick="navigate('newList')">ici</a> pour en créer une.</h3>

<table class="table table-hover d-none" id="listContainer">
    <thead>
        <tr>
            <th scope="col">Nom de la liste</th>
            <th scope="col">Date de création</th>
            <th scope="col" style="max-width: 150px">Nombre d'éléments dans la liste</th>
            <th scope="col" style="width: 175px; min-width: 175px;"></th>
        </tr>
    </thead>
    <tbody></tbody>
</table>