<input id="inputListName" class="form-control form-control-lg" type="text" autocomplete="off" placeholder="Saisir le nom de la nouvelle liste ..." onkeyup="event.which == 13 ? this.blur() : null" onblur="newListController.addNameList(this)">
<h2 class="listeName"></h2>

<ul class="list-group mt-4 text-dark listItem"></ul>

<div class="input-group mt-4 input-group-lg">
    <input type="number" class="form-control input-group-prepend col-2 col-sm-1" value="1" min="0" id="inputQte">
    <input type="text" class="form-control" autocomplete="off" onkeyup="eventEnterKey(event.which, this)" placeholder="Saisir le nom de l'Item à ajouter ..." id="inputNom">
    <div class="input-group-append">
        <button class="btn btn-success input-group-append d-none" type="button" onclick="indexController.editItem()" id="editItem">Modifier</button>
        <button class="btn btn-success input-group-append" type="button" onclick="newListController.addNewItem()" id="addNewItem">Ajouter</button>
    </div>
</div>
<small class="form-text text-info">Vous pouvez saisir la quantité dans la zone de texte numérique ci-dessus à gauche.</small>