<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#shareFromMe" role="tab" aria-controls="home" aria-selected="true">Listes partagées par moi</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#shareForMe" role="tab" aria-controls="profile" aria-selected="false">Listes partagées pour moi</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="shareFromMe" aria-labelledby="nav-home-tab">
        <h5 class="mt-2 d-none">Aucune liste partagée par moi.</h5>

        <table class="table table-hover d-none mt-5">
            <thead>
                <tr>
                    <th scope="col">Nom de la liste</th>
                    <th scope="col">Date de création</th>
                    <th scope="col">Nombre de personne qui ont accès </th>
                    <th scope="col" style="width: 30px; min-width: 30px;"></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <div class="tab-pane fade" id="shareForMe" aria-labelledby="nav-profile-tab">
        <h5 class="mt-2 d-none">Aucune liste partagée pour moi.</h5>

        <table class="table table-hover d-none mt-5">
            <thead>
                <tr>
                    <th scope="col">Nom de la liste</th>
                    <th scope="col">Propriétaire</th>
                    <th scope="col">Date de création</th>
                    <th scope="col" style="width: 175px; min-width: 175px;"></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<!-- Modal confirmation -->
<div class="modal fade text-body" tabindex="-1" role="dialog" id="shareViewList">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-hover mt-3 table-borderless">
                    <thead>
                        <tr>
                            <th>Label</th>
                            <th>Quantité</th>
                            <th>Checké</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>RRR</td>
                            <td>ddddd</td>
                            <td>ddsfsf</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>